body {
    /* background-color: crimson; */
}

.nav__bar {
    
    display: flex;
    justify-content: space-evenly;
    background-color:red;
}



/* img {
    width: 30%;
    height: 30%;
} */

.country-container {
    justify-content: space-around;
    display: flex;
    background-color: red;
   
}

.list__item {
    display: flex;
    justify-content: center;
} 

.country__landmarks {
    display: flex;
    justify-content: center;
    
}

.country__famous-citizens {
    display: flex;
    justify-content: center;
}