@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  text-align: center;
}

.country-card {
    border: 1px solid black;
    width: 30%;
	text-align: center;
	padding-bottom: 2em;
	margin: 1em;
}

.nav__bar-button {
	border: 1 px solid lightcoral;
	padding: 3px;
	flex-basis: 2;
	text-align: center;
}

.img__banner {
    width: 30%;
    height: 30%;
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 1.5em;
}

.country-container {
	justify-content: center;
	display: flex;

}

.country__cities {
    display: flex;
	justify-content: center;
} 

.country__landmarks {
	display: flex;
	justify-content: center;
}

.country__famous-citizens {
	display: flex;
	justify-content: center;
}

footer {
	position: absolute;
	bottom: 0;
}

/* CODE BELOW THIS COMMENT IS ONLY FOR COLOR SCHEME */
body {
    background-color: #bce6ff;
}

.country-container {
    background-color: #2d82b5;
}

.country-card {
    background-color: #bce6ff;
}