@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.country-card {
	border: 1px solid black;
}

.img__banner {
    width: 30%;
    height: 30%;
    /* BELOW CODE HAS BEEN CHANGED  */
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* CHANGES END HERE */
}

.logo {
    width: 1.5em;
}

.country-container {
    justify-content: space-around;
    display: flex;
   
}

.country__cities {
    display: flex;
    justify-content: center;
    
} 

.country__landmarks {
    display: flex;

}

.country__famous-citizens {
    display: flex;
}